/* Responsividade para telas entre (min-width: 319px) and (max-width: 480px) - dispositivos móveis */



/* Estilização da página SOBRE MIM */

/* Estilização do container principal */
.main-container {
    padding: 0;
    border-radius: 20px;
    width: 85%;
}

/* Estilização do cabeçalho da página */
header {
    padding-bottom: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 0 100px;
    gap: 5px 40px;
}

/* Estilização do menu de navegação dentro do cabeçalho */
.menu a {
    font-size: 0.67rem;
    padding: 5px 8px;
}

/* Estilização dos links do menu de navegação do cabeçalho */
.menu a img.icon {
    width: 15px;
    height: 15px;
}

/* Estilização da foto de perfil */
.foto-perfil {
    width: 110px;
    height: 110px;
    margin-right: 8px;
}

/* Estilização do título principal "Sobre mim" */
#sobre-mim h1 {
    font-size: 1.35rem;
    margin-top: 20px;
}

/* Estilização dos subtítulos (h2) "Quem sou eu", "Meus Hobbies" e Minhas paixões" */
#sobre-mim h2 {
    font-size: 0.8rem;
}

/* Estilização dos parágrafos da seção "Sobre Mim" */
#sobre-mim p {
    font-size: 0.6rem;
}

/* Estilização do container de hobbies e paixões */
.hobbies-paixoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

/* Estilização das caixas de hobbies e paixões */
.hobbies,
.paixoes {
    width: 100%;
}

/* Estilização dos parágrafos da seção paixões */
.paixoes p,
.hobbies p {
  text-align: justify;
  text-justify: distribute;
  word-spacing: -0.1em;
  hyphens: auto;
}

/* Estilização container principal da seção "Curiosidades"  */
#curiosidades {
    padding: 0;
    width: 75%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Estilização do título h2 "Curiosidades sobre mim" da seção "Curiosidades" */
#curiosidades h2 {
    font-size: 1rem;
    margin-top: 10px;
}

/* Estilização dos container dos cards da seção "Curiosidades" */
.curiosidades-container {
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Estilização dos itens do card de itens da seção "Curiosidades" */
.curiosidade-item {
    width: 151px;
    height: 151px;
    padding: 10px;
}


/* Estilização das imagens do card de itens da seção "Curiosidades" */
.curiosidade-item img {
    width: 20px;
    height: 20px;
}

/* Estilização dos parágrafos dentro do card de itens da seção "Curiosidades" */
.curiosidade-item p {
    color: #333333;
    line-height: 1.5;
    font-size: 0.50rem !important;
}

/* Estilização do rodapé */
footer {
    font-size: 0.63rem;
    padding: 15px;
}



/*-----------------------------------------------------------------*/



/*Estilização da página FORMAÇÃO*/

/* Container geral "oculto" dos cards de formação */
.cards-formacao {
    gap: 1rem;
}

/* Estilização dos cards da "Formação Acadêmica", "Experiência Profissional", "Formação Complementar" e "Conhecimentos e Especialidades" */
.card {
    padding: 0.8rem;
}

/* Estilização dos títulos h2 "Formação Acadêmica", "Experiência Profissional", "Formação Complementar" e "Conhecimentos e Especialidades" dos cards */
.card h2 {
    font-size: 0.8rem;
}

/* Estilização dos parágrafos dos cards */
.card p {
    font-size: 0.65rem;
    margin: 0 0 0.35rem 0;
    text-align: justify;
    hyphens: auto;
}

/* Estilização do subtexto, dos títulos "Estagiária TI" e "Agente administrativa" , prefeitura... instituto...*/
.cargo-detalhes {
    font-size: 0.65rem;
}

/* Estiliza e deixa com o marcador de lista os subtitulos dos cards e os itens do card "Conhecimentos e Especialidades */
.card li {
    font-size: 0.6rem;
    margin: 0 0 1.35rem 0;
    text-align: justify;
    hyphens: auto;
}


/* Estilização dos subtitulos que estão em listas: "Estagiária TI" e "Agente administrativa" */
.card ul>li>strong {
    font-size: 0.7rem;
}

/* Estilização dos itens do card "Conhecimentos e Especialidades" */
.conhecimento-especialidade ul>li{
    font-size: 0.7rem;
    margin-bottom: 10px;
}



/*-----------------------------------------------------------------*/



/*Estilização da página PORTFÓLIO*/

/* Estilização do container da introdução do portfólio "Bem-vindos ao meu Portfólio */
.portfolio-introducao {
    padding: 2rem;
    border-radius: 15px;
    margin: 2rem 1rem
}

/* Estilização do subtítulo h2 da introdução */
.subtitulo-introducao {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Estilização do parágrafo de introdução na seção do portfólio */
.descricao-portfolio {
    font-size: 0.6rem;
}

/* Estilização do título h2 "Meus Projetos" */
.subtitulo-projetos {
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 0.1rem;
    margin-left: 1rem;
}

/* Estilização do container de projetos */
.grid-projetos {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Estilização dos cards de projetos */
.card-projeto {
    padding: 0.5rem;
}

/* Estilização das imagens nos cards de projetos */
.card-projeto img {
    height: 120px;
}

/* Estilização do título h4 nos cards de projetos */
.card-projeto h4 {
    font-size: 0.9rem;
}

/* Estilização do botão de link nos cards de projetos */
.botao-link {
    margin-top: auto;
    padding: 0.2rem 0.9rem;
    font-size: 0.8rem;
}

/* Estilização da seção de direcionamento para o meu portfólio no Notion*/
.secao-notion {
    padding: 1rem;
    margin: 1rem 1.5rem 3rem;
}

/* Estilização do título h3 de direcionamento para o meu portfólio no Notion */
.secao-notion h3 {
    font-size: 0.9rem;
}

/* Estilização dos parágrafos de direcionamento para o meu portfólio no Notion */
.secao-notion p {
    font-size: 0.6rem;
}

/* Estilização do botão de direcionamento para o meu portfólio no Notion */
.botao-notion {
    padding: 0.4rem 0.9rem;
    font-size: 0.8rem;
}



/*-----------------------------------------------------------------*/


/*Estilização da página CONTATO*/


/* Estilização do título h2 "Vamos nos conectar" */
.titulo-contato {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

/* Estilização do container de contato e do formulário*/
.bloco-contato {
    margin: 45px;
    margin-top: 2rem;
}

/* Estilização dos cards de contato */
.card-contato, .card-formulario {
    padding: 20px;
}

/* Estilização do PRIMEIRO h3 "Meus contatos" e "Ou me mande uma mensagem" dentro do card meus contatos e do formulário */
.card-contato h3:first-of-type, .card-formulario h3:first-of-type {
    font-size: 0.95rem;
}

/* Estilização do SEGUNDO h3 "Acesse minhas redes" dentro do card meus contatos */
.card-contato h3:nth-of-type(2) {
    font-size: 0.95rem;
    margin-top: 20px;
}

/* Estilização do parágrafo E-MAIL, TELEFONE e LOCALIZAÇÃO dentro do card meus contatos */
.card-contato p {
    font-size: 0.7rem;
}

/* Estilização do container de botões/link do card dos meus contatos */
.botoes-contato {
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 0.5rem;
}

/* Estilização do link do card dos meus contatos */
.botao-contato {
    gap: 0.5rem;
    font-size: 0.6rem;
    padding: 0.5rem 0.1rem;
    width: 110px;
}

/* Estilização das imagens dentro dos botões de contato */
.botao-contato img {
    width: 15px;
    height: 15px;
}

/* Estilização dos nomes dos container de mensagem do formulário */
.card-formulario label {
    font-size: 0.7rem;
    margin-top: 10px;
}

/* Estilização dos campos de texto e área de mensagem no card de formulário */
.card-formulario input,
.card-formulario textarea {
    width: 100%;
    padding: 8px;

}

/* Estilização dos textos de dica (placeholder) nos campos do card do formulário: */
.card-formulario input::placeholder,
.card-formulario textarea::placeholder {
    font-size: 0.6rem;
}

/* Estilização do botão "enviar"" no card de formulário */
.card-formulario button {
    font-size: 0.7rem;
    width: 110px;
    margin-top: 0.5rem;
}