/* Importando fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');

/* Reset básico: remove margens e espaçamentos padrão de todos os elementos da página */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*Estilização da página index - SOBRE MIM */



/* Definição de variáveis globais reutilizáveis em todo o site */
:root {
    --background-gradient: repeating-linear-gradient(to bottom, #C599B6, #E6B2BA, #FAD0C4);
    --title-color: #E6B2BA;
    --text-color: #321c0f;
    --menu-bg: rgba(255, 248, 246, 0.9);
    --menu-text: #2A0405;
    --color-Background-menu-select: #C599B6;
    --menu-active: #321c0f;
    --icon-color: #A28C14;
    --footer-bg: rgba(255, 248, 246, 0.9);
    --footer-text: #321c0f;
}

/* Aplicação de estilos na base de toda a estrutura da página */
html {
    height: 100%;
    background: var(--background-gradient);
    background-attachment: fixed;
    background-size: cover;
}

/* Estilização do corpo principal da página */
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Estilização do container principal */
.main-container {
    text-align: justify;
    padding: 20px 50px;
    margin: 60px auto;
    width: 75%;
    line-height: 1.8;
    background-color: var(--footer-bg);
    border-radius: 50px;
}

/* Faz o container principal da página ocupar todo o espaço disponível entre o cabeçalho e o rodapé */
main {
    flex: 1;
}

/* Estilização do cabeçalho da página */
header {
    position: relative;
    top: 15px;
    background-color: var(--menu-bg);
    padding: 10px 20px;
    border-radius: 15px;
    width: 85%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* Estilização do menu de navegação dentro do cabeçalho */
.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Estilização dos links do menu de navegação do cabeçalho */
.menu a {
    text-decoration: none;
    color: var(--menu-text);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 2vw;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-flex;
    box-sizing: border-box;
    white-space: nowrap;
}

/* Destaca o link do menu de navegação ao passar o mouse ou quando ativo */
.menu a:hover,
.menu a.active {
    background-color: var(--color-Background-menu-select);
    color: #FFFFFF;
    box-sizing: border-box;
}

/* Estilização dos ícones que aparecem junto aos links do menu */
.menu a img.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    object-fit: contain;
}

/* Estilização da foto de perfil */
.foto-perfil {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 3px solid #FEEADF;
    box-shadow: 0px 20px 20px rgba(241, 164, 164, 0.2);
    margin-right: 50px;
    float: left;
    object-fit: cover;
    object-position: center;
}

/* Estilização do título principal "Sobre mim" */
#sobre-mim h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4.5rem;
    font-weight: 400;
    color: var(--title-color);
    text-align: left;
    background: linear-gradient(to right, #E6B2BA, #5A2A27, #E6B2BA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(70, 34, 34, 0.3);
    margin-top: 20px;
}

/* Estilização dos subtítulos (h2) "quem sou eu", "Meus Hobbies" e Minhas paixões" */
#sobre-mim h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #5A2A27;
    margin-bottom: 10px;
}

/* Estilização dos parágrafos da seção "Sobre Mim" */
#sobre-mim p {
    font-size: 1rem;
    margin: 0 0 5px 0;
    color: var(--text-color);
}

/* Estilização do texto da seção "Sobre Mim" */
.texto-sobre-mim {
    margin: 0 20px;
    font-weight: 400;
    text-align: justify;
    text-justify: distribute;
    word-spacing: -0.1em;
    hyphens: auto;
}


/* Estilização do container de hobbies e paixões */
.hobbies-paixoes {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 15px;
}

/* Estilização das caixas de hobbies e paixões */
.hobbies,
.paixoes {
    width: 48%;
}

/* Alinha à esquerda os títulos h2 "Meus hobbies" e "Minhas paixões" das seções de hobbies e paixões */
.hobbies h2,
.paixoes h2 {
    text-align: left;
}

/* Estilização dos parágrafos da seção paixões */
.paixoes p {
    font-size: 1rem;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    text-align: justify;
    margin: 0;
}

/* Estilização container principal da seção "Curiosidades"  */
#curiosidades {
    background: linear-gradient(to bottom, #C599B6, #E6B2BA, #FAD0C4);
    padding: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #A28C14;
}

/* Estilização do título h2 "Curiosidades sobre mim" da seção "Curiosidades" */
#curiosidades h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

/* Estilização dos container dos cards da seção "Curiosidades" */
.curiosidades-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilização dos container do card da seção "Curiosidades" */
.curiosidade-item {
    background-color: var(--footer-bg);
    border-radius: 10px;
    padding: 20px;
    width: 230px;
    height: 230px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #A28C14;
}

/* Efeito de destaque ao passar o mouse sobre o card de itens seção "Curiosidades" */
.curiosidade-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilização das imagens do card de itens da seção "Curiosidades" */
.curiosidade-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 2px;
}

/* Estilização dos parágrafos dentro do card de itens da seção "Curiosidades" */
.curiosidade-item p {
    color: #333333;
    line-height: 1.2rem;
    font-size: 0.7rem !important;
}

/* Estilização do rodapé */
footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    padding: 15px 20px;
    position: static;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    z-index: 500;
    box-sizing: border-box;
}

/* Container dos feixes de luz animados */
#feixes-de-luz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

/* Estilização dos feixes de luz animados */
.luz {
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url('../icons/brilho.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    opacity: 0.6;
    animation: float 30s infinite ease-in-out;
}

/* Animação dos feixes de luz: movimenta e altera o tamanho para criar efeito de flutuação */
@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }

    25% {
        transform: translate(-10px, -20px) scale(1.1);
    }

    50% {
        transform: translate(20px, 10px) scale(0.9);
    }

    75% {
        transform: translate(-15px, 15px) scale(1.05);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}



/*-----------------------------------------------------------------*/



/*Estilização da página FORMAÇÃO*/



/* Container geral "oculto" dos cards de formação */
.cards-formacao {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilização dos cards da "Formação Acadêmica", "Experiência Profissional", "Formação Complementar" e "Conhecimentos e Especialidades" */
.card {
    background: linear-gradient(to bottom, #fadecf, #ffe7ea, #fdeaec);
    border: 1px solid #A28C14;
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 10px;
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(50, 28, 15, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de destaque ao passar o mouse sobre os cards de formação */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(50, 28, 15, 0.2);
}


/* Estilização dos títulos h2 "Formação Acadêmica", "Experiência Profissional", "Formação Complementar" e "Conhecimentos e Especialidades" dos cards */
.card h2 {
    color: #5A2A27;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

/* Estilização dos parágrafos dos cards */
.card p {
    font-size: 1rem;
    line-height: 2;
    margin: 0 50px 0.35rem 0;
    text-align: justify;
}

/* Estilização do subtexto, dos títulos "Estagiária TI" e "Agente administrativa" , prefeitura... instituto...*/
.cargo-detalhes {
    display: block;
    margin-bottom: 12px;
    line-height: 1.3;
    font-style: italic;
}

/* Estilização da lista ul dos cards */
.card ul {
    padding-left: 2rem;
    list-style-type: none;
}

/* Estiliza e deixa com o marcador de lista os subtitulos dos cards e os itens do card "Conhecimentos e Especialidades */
.card ul>li {
    list-style-type: disc;
    margin-bottom: 40px;
}

/* Deixa com o marcador tipo círculo as sublistas do card "Formação Complementar" */
.card ul>li>ul>li {
    list-style-type: circle;
    margin-bottom: 5px;
}

/* Estilização dos subtitulos que estão em listas: "Estagiária TI" e "Agente administrativa" */
.card ul>li>strong {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 12px;
}

/* Estilização dos itens do card "Conhecimentos e Especialidades" */
.conhecimento-especialidade ul>li{
    margin-bottom: 10px;
}


/*-----------------------------------------------------------------*/



/*Estilização da página PORTFÓLIO*/


/* Estilização do container da introdução do portfólio "Bem-vindos ao meu Portfólio */
.portfolio-introducao {
    background-color: #FFFFFF;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/* Estilização do subtítulo h2 da introdução */
.subtitulo-introducao {
  font-size: 1.8rem;
  color: #A28C14;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

/* Estilização do parágrafo de introdução na seção do portfólio */
.descricao-portfolio {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1.6;
  max-width: 7800px;
  margin: 0 auto;
}

/* Estilização do título h2 "Meus Projetos" */
.subtitulo-projetos {
    font-size: 2rem;
    color: #5A2A27;
    margin-bottom: 0.5rem;
}

/* Estilização do container de projetos */
.grid-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 20px;
}

/* Estilização dos cards de projetos */
.card-projeto {
    background: linear-gradient(to bottom, #fadecf, #ffe7ea, #fdeaec);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 2px solid #A28C14;
}

/* Efeito de destaque ao passar o mouse sobre os cards de projetos */
.card-projeto:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

/* Estilização das imagens nos cards de projetos */
.card-projeto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}


/* Estilização do título h4 nos cards de projetos */
.card-projeto h4 {
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
    color: #321c0f;
    text-align: center;
}

/* Estilização do botão de link nos cards de projetos */
.botao-link {
    margin-top: auto;
    padding: 0.5rem 1.5rem;
    background-color: #8b2e5e;
    color: #fff;
    font-weight: 500;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Efeito de destaque ao passar o mouse sobre o botão de link dos cards de projetos */
.botao-link:hover {
    font-weight: 600;
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid #A28C14;
    transition: transform 0.10s ease, box-shadow 0.10s ease;
}

/* Estilização da seção de direcionamento para o meu portfólio no Notion*/
.secao-notion {
    background: #fff5f7;
    border: 2px dashed #A28C14;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem 1rem 4rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(139, 46, 94, 0.1);
    animation: fadeIn 1s ease-out;
}

/* Estilização do título h3 de direcionamento para o meu portfólio no Notion */
.secao-notion h3 {
    font-size: 1.6rem;
    color: #5A2A27;
    margin-bottom: 0.5rem;
}

/* Estilização dos parágrafos de direcionamento para o meu portfólio no Notion */
.secao-notion p {
    font-size: 1.3rem;
    color: #321c0f;
    margin-bottom: 1.2rem;
}

/* Estilização do botão de direcionamento para o meu portfólio no Notion */
.botao-notion {
    padding: 0.8rem 1.5rem;
    background-color: #8b2e5e;
    color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

/* Efeito de destaque ao passar o mouse sobre o botão que faz o direcionamento para o meu portfólio no Notion */
.botao-notion:hover {
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid #A28C14;
    font-weight: 600;
}



/*-----------------------------------------------------------------*/



/*Estilização do MAIN da página CONTATO*/

/* Estilização do container principal da página de contato */
.container-contato {
    background-color: rgba(255, 248, 246, 0.9);
    padding: 50px 20px;
    border-radius: 20px;
    max-width: 1100px;
    margin: 60px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Estilização do título h2 "Vamos nos conectar" */
.titulo-contato {
    text-align: center;/* Alinha o título ao centro */
    font-size: 2rem;
    margin-bottom: 30px;/* Espaçamento abaixo do título */
    color: var(--menu-text);
}

/* Estilização do container de contato e do formulário*/
.bloco-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

/* Estilização dos cards de contato */
.card-contato, .card-formulario {
    flex: 1 1 45%;
    background: linear-gradient(to bottom, #fadecf, #ffe7ea, #fdeaec);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: var(--text-color);
    border: 2px solid #A28C14;
}

/* Estilização do PRIMEIRO h3 "Meus contatos" e "Ou me mande uma mensagem" dentro do card meus contatos e do formulário */
.card-contato h3:first-of-type, .card-formulario h3:first-of-type {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

/* Estilização do SEGUNDO h3 "Acesse minhas redes" dentro do card meus contatos */
.card-contato h3:nth-of-type(2) {
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-color);
    margin-top: 60px;
}

/* Estilização do parágrafo E-MAIL, TELEFONE e LOCALIZAÇÃO dentro do card meus contatos */
.card-contato p {
    font-size: 1rem;
}

/* Estilização do container de botões/link do card dos meus contatos */
.botoes-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    
}

/* Estilização do link do card dos meus contatos */
.botao-contato {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #8b2e5e; 
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
    width: 200px;
    font-weight: 500;
}

/* Efeito de destaque ao passar o mouse sobre os botões de contato */
.botao-contato:hover {
    font-weight: 600;
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid #A28C14; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

/* Estilização das imagens dentro dos botões de contato */
.botao-contato img {
    width: 20px;
    height: 20px;
}


/* Efeito de destaque ao passar o mouse sobre os cards, meus contatos e formulario*/
.card-contato:hover, .card-formulario:hover {
    transform: scale(1.01);
}

/* Estilização dos nomes dos container de mensagem do formulario */
.card-formulario label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

/* Estilização dos campos de texto e área de mensagem no card de formulário */
.card-formulario input,
.card-formulario textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #A28C14;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--footer-bg);
}

/* Estilização dos textos de dica (placeholder) nos campos do card do formulário: */
.card-formulario input::placeholder,
.card-formulario textarea::placeholder {
    color: var(--text-color);
    font-size: 1rem;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

/* Destaque visual ao focar nos campos de texto e área de mensagem */
.card-formulario input:focus,
.card-formulario textarea:focus {
    border: 3px solid #A28C14;
    outline: none;
    box-shadow: 0 0 10px rgba(162, 140, 20, 0.6);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilização do botão "enviar"" no card de formulário */
.card-formulario button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    background-color: #8b2e5e; 
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 25px;
    transition: all 0.3s ease;
    width: 150px;
    text-align: center;
    font-weight: 500;
}

/* Efeito de destaque ao passar o mouse sobre o botão de "enviar"" no card formulário */
.card-formulario button:hover {
    font-weight: 600;
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid #A28C14; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}